{% extends 'wrapper.html' %}
{% load static %}
{% block style %}
<link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
<link rel="stylesheet" href="./vendor/chartist/css/chartist.min.css">
<link href="./vendor/owl-carousel/owl.carousel.css" rel="stylesheet">
{% endblock style %}
{% block title %}Card{% endblock title%}
{% block content %}
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-10">
                  {% for i in cart_items %}
                  <div class="card rounded-3 mb-4 mt-4">
                    <div class="card-body p-4">
                      <div class="row d-flex justify-content-between align-items-center pr-8">
                        <div class="col-md-2 col-lg-2 col-xl-2" style="height: 200px;">
                          <img src="{{ i.product.image.url }}" class="img-fluid rounded-3" alt="{{ i.product.name }}" style="width: 100%;height: 100%;">
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          <p class="lead fw-normal mb-2">{{ i.product.name }}</p>
                          <p><span class="text-muted">Chegirma: </span>{{ i.product.discount }}%</p>
                          <p><span class="text-muted">Donasi: </span>{{ i.product.price }} so'm</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                          <form action="" method="POST" class="d-flex">
                            {% csrf_token %}
                            <input type="text" name="product" value="{{ i.product.id }}" style="display: none;">
                            <input id="form1" min="0" name="quantity" value="{{ i.quantity }}" type="number" class="form-control form-control-sm my-2 mx-2" />
                            <button class="btn btn-link btn-success text-light  px-2  my-2 mx-2" name="add_quantity">save</button>
                          </form>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h5 class="mb-0">{{ i.overall_price }} so'm</h5>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end pr-5">
                          <form action="" method="POST" class="d-flex justify-content-center align-items-center">
                            {% csrf_token %}
                            <input type="text" name="product_delete" value="{{ i.product.id }}" style="display: none;">
                            <button type="submit" name="delete" class="text-danger" style="border: none;background-color: transparent;">
                              <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#808185}</style><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                            <button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                 
          
                  <div class="card">
                    <div class="card-body">
                      <button type="button" class="btn btn-warning btn-block btn-lg" data-toggle="modal" data-target="#exampleModal">Proceed to Pay</button>
                    </div>
                  </div>
          
                </div>
              </div>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                  <form method="POST">
                    {% csrf_token %}
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Zakaz Berish</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <p>
                        <label>Ism Familiya</label>
                        <input  class="form-control" placeholder='Ism Familiya' name="customer_full_name"/>
                      </p>
                      <p>
                        <label>Telefon Raqam</label>
                        <input  class="form-control" placeholder='Telefon Raqam' name="phone_number"/>
                      </p>
                      <p>
                        <label>Manzil</label>
                        <input  class="form-control" placeholder='Manzil' name="address"/>
                      </p>
                      <p>
                        <label>Mo'ljal</label>
                        <input  class="form-control" placeholder="Mo'ljal" name="target"/>
                      </p>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" name="order">Buyurtma berish</button>
                  </div>
                </form>
                  </div>
                </div>
              </div>
{% endblock content %}
        

    <!-- **********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <!-- <script src="./vendor/global/global.min.js"></script>
	<script src="./vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="./vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="./js/custom.min.js"></script>
	<script src="./js/deznav-init.js"></script>
	<script src="./vendor/owl-carousel/owl.carousel.js"></script> -->
	
	<!-- Chart piety plugin files -->
    <!-- <script src="./vendor/peity/jquery.peity.min.js"></script> -->
	
	<!-- Apex Chart -->
	<!-- <script src="./vendor/apexchart/apexchart.js"></script> -->
	
	<!-- Dashboard 1 -->
	<!-- <script src="./js/dashboard/dashboard-1.js"></script> -->
    
    <!-- <script src="./vendor/flot/jquery.flot.js"></script> -->
    <!-- <script src="./vendor/flot/jquery.flot.pie.js"></script> -->
    <!-- <script src="./vendor/flot/jquery.flot.resize.js"></script> -->
    <!-- <script src="./vendor/flot-spline/jquery.flot.spline.min.js"></script> -->
    <!-- <script src="./js/plugins-init/flot-init.js"></script> -->
	<!-- <script>
		function carouselReview(){
			/*  testimonial one function by = owl.carousel.js */
			jQuery('.testimonial-one').owlCarousel({
				loop:true,
				autoplay:true,
				margin:30,
				nav:false,
				dots: false,
				left:true,
				navText: ['<i class="fa fa-chevron-left" aria-hidden="true"></i>', '<i class="fa fa-chevron-right" aria-hidden="true"></i>'],
				responsive:{
					0:{
						items:1
					},
					484:{
						items:2
					},
					882:{
						items:3
					},	
					1200:{
						items:2
					},			
					
					1540:{
						items:3
					},
					1740:{
						items:4
					}
				}
			})			
		}
		jQuery(window).on('load',function(){
			setTimeout(function(){
				carouselReview();
			}, 1000); 
		});
	</script> -->
