{% extends 'wrapper.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block style %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock style %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <aside class="user-info-wrapper">
            <div class="user-info d-flex flex-wrap">
                <div class="user-avatar mr-4">
                    <a class="edit-avatar" href="#"></a><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User">
                </div>
                <div class="user-data mt-4" style="width: 100%;">
                    <h4>Daniel Adams</h4><span>Joined February 06, 2017</span>
                    <hr>
                    <div class="mt-2">
                        <h4>Manzil:</h4>
                        <p>Andijon Shahar</p>
                        <hr>
                        <h4>Telefont Raqam</h4>
                        <p>+998907697969</p>
                    </div>
                </div>
                
            </div>
        </aside>
        <hr>
        <nav class="list-group">
            <a class="list-group-item with-badge" href="#">
               <div class="d-flex justify-content-between align-items-center">
                <p><i class="fa fa-th mr-2"></i>Buyurtmalar</p>
                <p><span class="badge badge-primary badge-pill">6</span></p>
               </div>
            </a>
            <a class="list-group-item with-badge" href="#">
                <div class="d-flex justify-content-between align-items-center">
                 <p><i class="fa fa-th mr-2"></i>Sotib olingan Tovarlar</p>
                 <p><span class="badge badge-primary badge-pill">6</span></p>
                </div>
             </a>
        </nav>
    </div>
</div>
{% endblock content %}