body {
  font-family: 'Segoe UI', sans-serif;
}
.circle{
  font-size: 7px;
}
.fs-6 {
  font-size: 13px !important;
}
.fs-7{
  font-size: 10px;
  font-weight: 400;
}
.fs-8{
  font-size: 0.6rem;
}
.transition{
  transition: 300ms;
}
.cursor{
  cursor: pointer;
}
.month{
  color: orangered;
}
.month:hover{
  color: #fff;
  border-radius: 15px;
  background-color: orangered;
}
.table-box{
  min-width: 956px;
}
.items{
  border: 1px solid green;
  color: green;
}
.items:hover{
  border: 1px solid white;
  color: #fff;
  background-color: green;
}
.border-left{
  border-left: 8px solid;
}
.plus{
  position: relative;
  left: -35px;
  top: 0px;
}
.flex-1{
  flex: 1;
}